doctype html
html(lang="en")
    head
        title not.es.app
        link(rel="stylesheet", href="/static/style.css")
    body 
       header.navbar 
        h1 
          a(href='/') not.es.app

        nav.nav 

          a(href='/notes') All notes 
          a(href='/archive') Archive 
          
    block content   
    
